{
  "name": "fr.openent~jira-connector",
  "config": {
    "main" : "fr.openent.jira-connector.Jira",
    "port" : 8206,
    "csrf-token": {{ csrfToken | default('true') }},
    "app-name" : "jira",
    "app-address" : "/jira",
    "app-icon" : "jira-large",
    "app-type" : "SYSTEM",
    "host": "https://{{ host }}",
    "ssl" : true,
    "auto-redeploy": false,
    "userbook-host": "https://{{ host }}",
    "integration-mode": "{{ integration_mode|default('HTTP') }}",
    "app-registry.port" : 8012,
    "mode" : "prod",
    "entcore.port" : 8009,
    "jira-groups" : {{ jiraSsoGroups | default('{"region":"jira-region-ent", "admin":"jira-administrateur-ent","personnel":"jira-personnel-ent","users":"jira-software-users-ent"}') }},
    "uai-admin" : "{{ jiraUaiAdmin | default('9999991F') }}",
    "address" : "fr.openent.ssojira"
  }
}